@font-face {
    font-family:"pantonmtav3-bold";
    src: url(assets/pantonmtav3-bold.ttf);
}
body{
    margin:0;
    padding:0;
    font-family: pantonmtav3-bold;
}
header{
    font-family: pantonmtav3-bold;
    background-color: #e8f0f3;
    height: 768px;
    position:relative;
}

.navbar-toggler{
    width: 25px;
    height: 25px;
    display: none;
    align-items: center;
    justify-content: space-around;
    padding:7px;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #6ab04c, #badc58);;
}
.navbar-toggler span,
.navbar-toggler span::after,
.navbar-toggler span::before{
    width: 1.3em;
    display: block;
    height: 3px;
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    transition: all 0.2s;
}

.navbar-toggler span::after,
.navbar-toggler span::before{
    content: "";
}

.navbar-toggler span::after{
    top: 4px;
}

.navbar-toggler span::before{
    bottom: 7px;
}
.navbar-toggler.expanded span{
    height: 0;
}
.navbar-toggler.expanded span::before{
    transform: rotate(-45deg) translate(-3px, 3px);
}
.navbar-toggler.expanded span::after{
    transform: rotate(45deg) translate(-7px, -7px);
}

.logo{
    display: inline-flex;
    align-items: center;
}
.navigation{
    display:flex;
    justify-content: space-between;
    max-width: 1084px;
    margin: 0 auto;
}
.banner-img h1{
    width: 188px;
    position: absolute;
    display: block;
    top: 70px;
    left: -17px;
    word-break: break-all;
    height: 36px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    text-align: left;
    color: #181818;
}
.banner-img p{
    position: absolute;
    top: 120px;
    left: -17px;
    font-size: 14px;
    text-align: left;
    color: #ffffff;
}
.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.banner-img{
    position: relative;
    width: 867px;
    height: 489px;
    z-index: 1;
}
.dot{
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-around;
    width: 30px;
    height: 30px;
}

.dot-1{
    left: 28%;
    top: 59%;
}

.dot-2 {
    left: 50%;
    top: 33%;
}

.dot-3 {
    left: 80%;
    top: 40%;
}
.dot .layer{
    border-radius: 100%;
    display: block;
    position: absolute;
}

.dot .layer:nth-child(1){
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, .5);
}
.dot .layer:nth-child(2){
    width: 65%;
    height: 65%;
    background-color: rgba(255,255,255, .60);
    left: 17.5%;
    top: 17.5%;
}
.dot .layer:nth-child(3){
    width: 25%;
    height: 25%;
    background-color: rgba(255,255,255, 1);
    left: 37.5%;
    top: 37.5%;
}

/*.banner-text{*/
    /*top:94px;*/
    /*position: absolute;*/
    /*width: 1192px;*/
    /*height: 302px;*/
    /*opacity: 0.3;*/
    /*text-shadow: 0 3px 6px rgba(24, 24, 24, 0.06);*/
    /*font-family: pantonmtav3-bold;*/
    /*font-size: 250px;*/
    /*font-weight: bold;*/
    /*line-height: 1.21;*/
    /*text-align: left;*/
    /*color: #ffffff;*/
    /*z-index: 0;*/
/*}*/

.banner::after {
    content:'nodmotors';
    position: absolute;
    top:94px;
    display:block;
    z-index: 0;
    font-size: 20bvw;
    color: #FFF;
    text-shadow: 0 3px 6px
    rgba(24, 24, 24, 0.06);
    opacity: 0.3;

}


.informative{
    width: 570px;
    justify-content: space-between;
    text-decoration: none;
    display: inline-flex;
    font-size: 12px;
    color: #6ab04c;
    word-break: break-all;
}
.informative label{
    width:100%;
    display: block;
}
.informative li{
    width:188px;
}
.informative span{
    width: 95px;
    height: 36px;
    font-size: 30px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #181818;
}
li{
    list-style: none;
}
.main-menu{
    display: inline-flex;
    align-items: center;
}

.main-menu li a {
    font-family: pantonmtav3-bold;
    height: 17px;
    font-size: 14px;
    line-height: 1.21;
    color: #181818;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}
.main-menu li a:hover{
    color: #6AB04C;
    transition: 300ms color ease;
}


.main-menu li a.book-btn{
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #6ab04c, #badc58);
    display: block;
    text-align: center;
    padding: 11px 34px ;
    color: #FFFFFF;
    position: relative;
    transition: all .2s;
}

.main-menu li a.book-btn::after,
.main-menu li a.book-btn::before{
    content: '';
    display: block;
    opacity: 0;
    width: 2em;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition: all .2s;
}

.main-menu li a.book-btn::after{
    top: 10px;
}

.main-menu li a.book-btn::before{
    bottom: 10px;
}

.modal-open .main-menu li a.book-btn{
    color: transparent;
}

.modal-open .main-menu li a.book-btn::after{
    opacity: 1;
    transform: rotate(-45deg) translate(-6px, 5px);
}

.modal-open .main-menu li a.book-btn::before{
    opacity: 1;
    transform: rotate(45deg) translate(-6px, -6px);
}


.scroller{
    position: absolute;
    left:10%;
    top: 646px;
}
.main-container{
    max-width: 1084px;
    margin:0 auto;
    display: block;
    padding-top: 60px;

}
.avail-cars-title{
    font-size: 30px;
    text-align: left;
    color: #181818;
    display: inline-grid;
    word-break: break-all;
    max-width: 185px;
    padding: 0;
    margin: 0;
}

.avail-cars-subtitle{
    font-size: 10px;
    color: #95a5a6;
    margin-top: 0;
}


.filter{
    display: flex;
    justify-content: space-between;
    padding: 27px 0;
    font-family: pantonmtav3-bold;

}

.left-selector{
    padding-left: 0px;
    padding-top: 10px;
    display: inline-flex;
    width: 50%;
    justify-content: space-between;
}

.filter li{
    text-align: center;
    position: relative;
    margin: 0 10px;
    width: 164px;
    height: 40px;
}
.filter li ::after{
    content: url(../images/static/Arrow.png);
    display: block;
    position: absolute;
    top: 20%;
    right: 25%;
}


.left-selector select{
    width: 164px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background:  #fff;
    box-shadow: 0 3px 6px rgba(24,24,24,.06);
    padding: 12px 30px;
}

.right-selector select{
    background-image: linear-gradient(#6AB04C, #BADC58);
    color: #fff;
    border-radius: 30px;
    padding: 13px;
    width: 72px;
    text-align-last:center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    padding: 62px 0 27px;
}
.cars-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 10px);
    margin: 10px 5px;
}
.cars-description span.car-price{
    width:100%;
    display: block;
    text-align: right;
    position: relative;
    right:22%;

}
.cars-description span{
    color: #95A5A6;
    font-size: 12px;

}
.cars-description span .price{
    color: #6AB04C;
}

.content-img{
    object-fit: cover;

}

.product-name{
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: 0;
}
.colors{
    display: flex;
    cursor: pointer;
    padding-top: 14px;

}

.colors span {
    width: 12px;
    height: 12px;
}

.white, .black, .blue, .red, .grey, .orange, .green, .khaki {
    border-radius: 50%;

    margin: 0 4px;
    border: 1px #95a5a6 solid;
}

.white {
    background: #fff;
}
.black {
    background: #000;
}
.blue {
    background: #2F6AA2;
}
.grey {
    background: #95A5A6;
}
.orange {
    background: #FF664F;
}

.green {
    background-color: #6AB04C;
}
.khaki {
    background-color: khaki;
}
.red{
    background-color: #FF664F;
}

.prod-description{
    color: #95A5A6;
    font-size: 10px;
    padding:0;
    margin:0;
    display:inline-flex;
    align-items: center;
}
.prod-description li{
    padding: 10px;
    padding-left: 0;
    padding-top: 0;
}

footer {
    font-size: 12px;
    max-width: 1084px;
    margin:0 auto;
    display:flex;
    color: #95a5a6;
    padding-bottom: 44px;
    padding-top: 40px;
    justify-content: space-between;
}
.footer-logo{
    width: 265px;
}
.info{
    display: flex;
    padding: 0;
}

.info li{
    padding-left:20px;
}
.terms{
    font-family: pantonmtav3-bold;
}
.terms header{
    background-color: white;
    height: auto;
}
.terms-conditions{
    max-width: 53%;
    width:100%;
    margin:0 auto;
    padding-top:90px;
    padding-bottom: 70px;
}
.terms-conditions h1{
    text-align: center;
}
.terms-conditions p{
    color:#95a5a6;
}
.booking-form{
    font-family: pantonmtav3-bold;
    max-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.booking-form p{
    max-width: 80%;
    margin-top:0;
    margin-bottom: 40px;
    color: #95a5a6;
    text-align: center;
}
.inputs{
    text-align: center;
}

.success-booking-wrapper{
    display: none;
}

.success-booking{
    padding:30px;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}
.success-booking span{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
    color: #ffffff;
    border-radius: 100%;
    width: 52px;
    height: 52px;
    background-image: linear-gradient(to bottom, #6ab04c, #badc58);
}

.success-booking p{
    padding:31px;
    font-size: 16px;
    color: black;
    width:166px;
}

body.modal-open{
    overflow: hidden;
}

.modal {
    z-index: 6;
    display:none;
}
.modal-open .overlay {
    display: block;
}

.modal-open .modal{
    display: block;
    position: absolute;
    top: 140px;
    left: calc(50% - 320px/2);
}

.modal-open header{
    background-color: #fff;
}

.overlay{
    z-index: 5;
    width: 100%;
    position: absolute;
    height: calc(100% - 70px);
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.96);
    display:none;
}

.booking-form textarea,
.contact-info textarea{
    width: 216px;
    height: 60px;
    border:1px transparent solid;
    border-radius: 5px;
    background-color: #e8f0f3;
    margin-bottom: 30px;
    resize: none;
    font-size: 10px;
    padding-left:10px;

}
.booking-form input,
.contact-info input{
    padding-left: 10px;
    font-size: 10px;
    color: #b4c4c5;
    border: 1px transparent solid;
    margin-bottom: 10px;
    width:216px;
    height: 30px;
    border-radius: 5px;
    background-color: #e8f0f3;
}

.booking-form .button ,
.contact-info .button {
    color:#ffffff;
    font-size: 10px;
    width: 228px;
    height: 35px;
    border-radius: 5px;
    border:1px #ffffff solid;
    background-image: linear-gradient(to bottom, #6ab04c, #badc58);
}

.carinner{
    background-color: white;
}
.colors-big{
    display: flex;
    cursor: pointer;
    padding-top: 14px;
    padding-bottom: 14px;
}

.colors-big span{
    width:20px;
    height: 20px;
}

.col-1-3 {
    display: block;
    width: calc(45% - 10px);
}

.col-2-3 {
    display: block;
    width: calc(55% - 10px);
}

.col-1-2 {
    display: block;
    width: calc(50% - 10px);
}

.col p {
    color: #95a5a6;
}


.col {
    margin-bottom: 30px;
}

.col:nth-child(odd){
    padding-right:10px;
}

.col:nth-child(even){
    padding-left: 10px;
}

.descriptions{
    max-width: 1084px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.performance-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    padding: 29px 92px;
    border-radius: 10px;
    color: #ffffff;
    position: relative;
    background-image: url("assets/pic_over.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.performance-data::after{
    content: '';
    position: absolute;
    display: block;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.performance-data li {

    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    z-index: 1;
}

.performance-data li p{
    font-size: 12px;
    margin: 0;
    line-height: 1.17;
}
.performance-data li span{
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
}

.rating {
    background-color: #e8f0f3;
    border-radius: 10px;
    padding: 45px 96px;
}

.stars {
    padding: 0;
    margin: 0;
}

.stars li{
    padding-top: 14px;
    padding-bottom: 14px;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.stars li h3 {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 18px;
    color: #181818;
}

.stars li h3 span{
    color: #6ab04c;
    font-size: 12px;
}
.images-in-row{
    margin-top: 90px;
}
.images-in-row a{
    padding-right: 15px ;

}

.images-in-row a:last-child{
    padding-right:0;
}

.available-3-cars{
    margin-top: 100px;
}

.contact-page header{
    background-color: white;
    height: auto;
}

.contact-info{
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    max-width: 256px;
    height: 586px;
    background-color: #e8f0f3;
    display: inline-block;
}

.map{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.informative-box{
    border-radius: 10px;
    width:380px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
    padding: 30px;
    padding-left: 72px;
    position: relative;
    z-index:3;
}
.informative-box ul{
    padding: 0;
    margin: 0;
}
.informative-box ul li{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 24px;
}

.informative-box ul li:last-child{
    padding-bottom: 0;
}

.informative-box ul li p{
    margin: 0;
}

main{
    max-width: 1084px;
    margin:0 auto;
    display: flex;
    position: relative;
}

main section:nth-child(odd){
    padding-right: 10px;
}

main section:nth-child(even){
    padding-left: 10px;
}

.contact-info .contact-inputs input,
.contact-info .contact-inputs textarea{
    background-color: #ffffff;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 50vw;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
